<body>
	<form action="/post/create" method="POST">
		<div><input type="text" name="title"></div>
		<div><input type="text" name="writer"></div>
		<div><textarea name="memo" cols="40" rows="8"></textarea></div>
		<button type="submit">submit</button>
	</form>
</body>
