<body>
    <form action="/post/update" method="POST">
        <div><textarea name="memo" cols="40" rows="8"><%=data.memo%></textarea></div>
        <button type="submit">submit</button>
    </form>
</body>